@model AutoVerleih.Models.Verleih

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Verleih für Kunde @ViewBag.KundenNr </h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KundenId" class="control-label"></label>
                <input readonly="readonly" asp-for="KundenId" class="form-control" value=@ViewBag.KundenNr />
                <span asp-validation-for="KundenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoId" class="control-label"></label>
                    <select asp-for="AutoId" class="form-control" asp-items="Model.SelectAutos">
                        <option selected>---Select Employee---</option>
                    </select>
                <span asp-validation-for="AutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DT_Von" class="control-label"></label>
                <input asp-for="DT_Von" class="form-control" />
                <span asp-validation-for="DT_Von" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DT_Bis" class="control-label"></label>
                <input asp-for="DT_Bis" class="form-control" />
                <span asp-validation-for="DT_Bis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DT_Rueckgabe" class="control-label"></label>
                <input asp-for="DT_Rueckgabe" class="form-control" />
                <span asp-validation-for="DT_Rueckgabe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 class="bg-danger">@ViewBag.ErrorMessage </h4>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
