@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="text-center">
        <h1 class="display-4">Willkommen beim Autoverleih HOFER</h1>
        <p></p>
        <p></p>
        <h3>Diese Aplikation wurde unter ASP.NET Core entwickelt</h3>
        <h3>und ist auf jedem Device lauffähig</h3>

        <img src="~/images/rentCar.jpg" style=" width:60%; height: 40%" />
    </div>
</form>
